    <div class='useCreateForm'>
          <table class='createUserTable mainTable'>
            <tr>
                <td class='legend'>User First name:: </td>
                <td class='input'><input type='text' name='newUserFirstName' id='new_first_name' placeholder="first name"></td>
            </tr>
            <tr>
                <td class="legend">User Last name:: </td>
                <td class="input"><input type="text" name="newUserLastName" id="new_last_name" placeholder="last name"></td>
            </tr>
            <tr>
                <td class="legend">User Email:: </td>
                <td class="input"><input type="text" name="newUserEmail" id="new_email" placeholder="email"></td>
            </tr>
            <tr>
                <td class="legend">User Password:: </td>
                <td class="input"><input type="password" name="newUserPassword" id="new_password" placeholder="password"></td>
            </tr>
            <tr>
                <td class="legend">Save User:: </td>
                <td class="input"><input type="button" id="saveNewUser" value="Save new User"></td>
            </tr>
            <tr>
                <td class="legend">Cancel:: </td>
                <td class="input"><input type="button" id="cancelNewUser" value="Cancel"></td>
            </tr>
        </table>
    </div>
