    <td><input type='text' value='{{author }}' class="author"></td>
    <td><input type='text' value='{{year }}' class="year"></td>
    <td><input type='text' value='{{title}}' class="title"></td>
    <td><input type='text' value='{{genre}}' class="genre"></td>
    <td><input type='button' class='deleteModel' value='delete'></td>
    <td><input type='button'  class='syncModel' value='Sync to server'></td>
