    <div class='useCreateForm'>
        <table class='createUserTable mainTable'>
            <tr>
                <td class='legend'>Book Author:: </td>
                <td class='input'><input type='text'  id='new_book_author' placeholder="book author"></td>
            </tr>
            <tr>
                <td class="legend">Book Title:: </td>
                <td class="input"><input type="text" id="new_book_title" placeholder="book title"></td>
            </tr>
            <tr>
                <td class="legend">Book Genre:: </td>
                <td class="input"><input type="text" id="new_book_genre" placeholder="boo genre"></td>
            </tr>
            <tr>
                <td class="legend">Year Book was published:: </td>
                <td class="input"><input type="text" id="new_book_year" placeholder="year"></td>
            </tr>
            <tr>
                <td class="legend">Save Book:: </td>
                <td class="input"><input type="button" id="createNewBook" value="Save new Book"></td>
            </tr>
            <tr>
                <td class="legend">Cancel:: </td>
                <td class="input"><input type="button" id="cancelNewUser" value="Cancel"></td>
            </tr>
        </table>
    </div>
